form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form label {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
  color: var(--color-main-text);
}

form input,
form select,
form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

form textarea {
  resize: vertical;
  min-height: 80px;
}

form button {
  align-self: flex-start;
}
